@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

.first {
   background-color: #1F2937 ;
  
}

#header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.navbar-l {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.navbar{
    display: flex;
    flex-direction: row;
}
ul{
    display: flex;
    flex-direction: row;
}

.navbar-l,.navbar-r{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    
}

.content{
    display: flex;
    flex-direction: row;
    margin: 50px;
}
.content-r{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.content-l{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 150px;
    
}

img{
    margin: 50px;
}

.p-first{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
    
        
}

.sign-up-first-section{
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 35px;
    border: 2px #3882F6;
    border-radius: 10px;
}

h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 50px;
}

.row-of-blue-divs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 200px;
    margin-left: 200px;
    
    align-items: center;
}

.box-blue{
    border: 2px solid #3882F6;
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    
}
.second{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

.p-second{
    text-align: center;
    font-size: 18px;
    

}

.third{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
      
}

.p-third{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    
}
.credit{
    font-size: 18px;
    font-weight: bold;
    text-align: end;
    margin-right: 575px;
}
.fourth{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.blue-container{
    background-color: #3882F6;
    display: flex;
    height: 35%;
    width: 75%;
    justify-items: center;
    align-items: center;
    border-radius: 10px;

}
.left{
    margin-left: 20px;
}
h4{
    font-weight: bold;
    font-size: 22px;
    color: #F9FAF8;
}
.p-fourth{
    color: #F9FAF8;
}
.right{
    margin-left: 45%;
}
.sign-up-last-section{
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 35px;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    background-color: #1F2937;
    height: 75px;

}